@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* uneversal styles */
*{
    /* max-width: 1440px;
    width: 100%; */
    /* text-decoration: none; */
    color: black;
    /* font-size: 16px; */
    font-family: "Open Sans", serif;
}



/* shared style */
.text-primary{
    color: #FD6E0A;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.pg-color{
    color: #757575;
}

.btn-primary{
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 13.5px 26.25px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}

.about-title{
    font-size: 26.25px;
    font-weight: 700;
    color: #181818;
}

.about-description{
    font-size: 13.5px;
    font-weight: 400;
    color: #757575;
}
/* universa style */

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 37.5px 172.5px 0 169.5px;

}
.nav-title{
    font-weight: 800;
    font-size: 33.75px;
}

nav ul{
    display: flex;
    /* justify-content: space-between; */
    align-items: center; 
}

nav ul li{
    margin-right: 38.25px;
    list-style: none;
    
}

nav a{
    text-decoration: none;
}

.header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%, auto 65%;
    background-position: top left, bottom right;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 28.5px 0 172.5px;
}

.banner-connent{
    max-width: 438.75px;
    
}

.hi-i{
    font-size: 33.75px;
    font-weight: 600;
    margin-bottom: 3.75px;
}

.banner-title{
    font-size: 63.75px;
    font-weight: 700;
    margin-bottom: 15px;
}

#pp{
    margin-bottom: 22.5px;
    color: #757575;
}

.banner-profile-pic{
    width: 438px;
    height: 507px;
    margin: 62.25px 131.25px 58.5px 0;
}

/* main style */
main{
    max-width: 855px;
    margin: 0 auto;
    margin-top: 97.5px;
    background-color: #FFF8F3;
}

/* about style */

.about-title{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.about-description{
    border-left: 1px solid black;
    border-right: 1px solid black;
    
}

.about-br{
    border-bottom: 1px solid black;
    background-color: #FFFFFF;
}
/* border style */

.about{
    border: 1px solid black;
    border-radius: 10px;
    padding: 98.25px 117.5px;
    align-items: center;

}

.about-items{
    display: flex;
    justify-content: space-between;
}

.item{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}
.item-description{
    font-size: 15px;
    font-weight: 700;
    color: #757575;
}
