@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* uneversal styles */
*{
    /* max-width: 1440px;
    width: 100%; */
    /* text-decoration: none; */
    color: black;
    /* font-size: 16px; */
    font-family: "Open Sans", serif;
}



/* shared style */
.text-primary{
    color: #FD6E0A;
}

.bg-color{
    background-color: #FFF8F3;
}

.dark-1{
    color: #181818;
}

.dark-2{
    color: #474747;
}

.pg-color{
    color: #757575;
}

.btn-primary{
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 13.5px 26.25px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
}

.about-title{
    font-size: 26.25px;
    font-weight: 700;
    color: #181818;
}

.about-description{
    font-size: 13.5px;
    font-weight: 400;
    color: #757575;
}
/* universa style */

/* nav style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 37.5px 172.5px 0 169.5px;

}
.nav-title{
    font-weight: 800;
    font-size: 33.75px;
}

nav ul{
    display: flex;
    /* justify-content: space-between; */
    align-items: center; 
}

nav ul li{
    margin-right: 38.25px;
    list-style: none;
    
}

nav a{
    text-decoration: none;
}

.header{
    background-color: #FFF8F3;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%, auto 65%;
    background-position: top left, bottom right;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 28.5px 0 172.5px;
}

.banner-connent{
    max-width: 438.75px;
    
}

.hi-i{
    font-size: 33.75px;
    font-weight: 600;
    margin-bottom: 3.75px;
}

.banner-title{
    font-size: 63.75px;
    font-weight: 700;
    margin-bottom: 15px;
}

#pp{
    margin-bottom: 22.5px;
    color: #757575;
}

.banner-profile-pic{
    width: 438px;
    height: 507px;
    margin: 62.25px 131.25px 58.5px 0;
}

/* main tag style */

/* about section */
.about-section{
    margin: 97.5px 172.5px;
    border-radius: 8px;
}

.about{
    text-align: center;
    padding: 98.25px 117.375px 0 117.375px;
}
.about-items{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 117.375px 98.25px 117.375px;
}

.item{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
}

.item-description{
    font-size: 20px;
    font-weight: 700;
    color: #474747;
}
/* about section done */

/* skills section */


.skills{
    text-align: center;
    padding: 0 259.5px;
}

.skills-title{
    font-size: 26.25px;
    font-weight: 700;
    color: #181818;
}
.skills-description{
    font-size: 13.5px;
    font-weight: 400;
    color: #757575;
}

.skills-container{
    display: flex;
    gap: 18px;
    align-items: center;
    margin: 0 172px 97.5px 172.10px;
}

.skill{
    margin-top: 37.5px;
    padding: 22.5px 24.75px 22.5px 22.5px;
    box-shadow: 0 4.5px 37.5px 0 rgba(0, 0, 0, 0.06);
    border-radius: 3.75px;
}

.skill-title{
    font-size: 15px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 15px;
}

.skill-description{
    font-size: 12px;
    font-weight: 400;
    color: #757575;
}

/* siklls section done */